@model List<ColourViewModel>

@await Html.PartialAsync("_ContentHeaderPartial", new ContentHeaderModel
{
    PageTitle = "Renk Listesi",
    ControllerName = "colour",
    ButtonText = "Renk Ekle"
})
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="mytable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Renk</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var colour in Model)
                                {
                                    <tr>
                                        <td>@colour.Id</td>
                                        <td>@colour.Name</td>
                                        <td>
                                            <a asp-area="admin" asp-controller="colour" asp-action="edit" asp-route-id="@colour.Id" class="btn btn-warning">Düzelt</a>
                                            <a asp-area="admin" asp-controller="colour" asp-action="delete" asp-route-id="@colour.Id" class="btn btn-danger">Sil</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
