@model ContentHeaderModel
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.PageTitle</h1>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary float-right" asp-controller="@Model.ControllerName" asp-action="create">@Model.ButtonText</a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>